h1,h2,h3,h4 {font-family: 'Heebo', sans-serif;
}
body {
    font-family: 'Heebo', sans-serif;
}

.about {
    background:#c9b9c5;
    font-size: 18dp;
    color: white;
}
.container {
    max-width: 960dp;
    margin: auto;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.about .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    grid-gap: 30dp;
}
.about img {
    display: block;
}
h1 {
     font-size: 46dp;
    line-height: 1.1;
}
.button {
    background:white;
    color: #c9b9c5;
    text-decoration: none;
    padding: 10dp 15dp;
    display: inline-block;
    margin-top: 10dp;
     
}
.button:hover {
    background: #48adb3;
    color: white;
}
.logo{
    max-width:250dp;
    display: block;
    margin:  15dp auto;
}


.gallery {
   list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28dp;
    font-size: 24dp;
 text-align: center;
    font-weight: 500;
    color: #48adb3;
}

.gallery img {
    display: block;
}
h2 {
    color: #fff;
    text-align: center;
}
.name {
    max-width: 320dp;
    
}
a {
  color: #fff;
}

.contact {
  background: #c9b9c5;
  font-size: 21dp;
  text-align: center;
  margin-top: 60dp;
  padding: 40dp 0;
}
.contact a:hover {
  color:#48adb3 ;
}

.contact ul {
  list-style: none;
  padding: 0;
}
.contact li {
  margin-bottom: 7dp;
}
.footer {
  background: #fff;
  text-align: center;
  padding: 40dp;;

}
.footer a {
  margin: 0 10dp;
}


