@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'opensans';
    font-weight: 400;
    line-height: 1.5;
    background: #000;
    color: white;
}



h1 {
    font-family: 'opensans';
    font-weight: 700;
    font-size: 34px;
}

h2 {
    color: #217caa;

}


h1:after {
    content: "";
    border-bottom: 3px solid #fff;
    width: 90px;
    display: block;
    margin: auto;
}



img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.banner {
    background-image: linear-gradient(rgba(32, 29, 24, 0.4), rgba(32, 29, 24, 0.4)), url("img/coffee.jpg");
    margin: auto;
    text-align: center;
    display: block;
padding: 50px 0;
    background-position: bottom;
    background-size: cover;
    background-attachment:fixed;
    padding-top: 48px;
}


.button {
    text-decoration: none;
    color: #217caa;
    background: #fff;
    padding: 10px 20px;
    display: inline-block;
    transition: .3s;

}
.button:after {
    content: ">";
    padding-right: 5px;
}

.button:hover {
    background: #217caa;
    color: #fff;
}

.container {
    max-width: 980px;
    margin: auto;
}

a {
    color: #fff;
}

.banner.container {
    max-width: 600px;

}

.features {
    background: #000;
    text-align: center;
    padding: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
}

.features img {
    max-width: 85px;
}

.features h2:after {
    margin: auto;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
}
footer a {
  color: #fff;
}
header {
  text-align: center;
}



nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;

    
}
nav a{
    color: #fff;
    padding: 50px;
    text-decoration: none;
    transition: .3s;

}

nav a:hover{
    color: #217caa;
}





.headerr {

    position: fixed;
    width: 100%;
    color: #fff;
  background: rgba(255,255,255,0.2);
    padding: 0 10px;
    height: 87px;
}

.header-right {
    display: table-cell;
    vertical-align: middle;
    float: none;
    height: 100%;
   
      
}

.header-center-kdm {
    display: inline-block;
    

.header-left {
    

    .current a{
        font-weight: bold;
    }
    

