@font-face {
  font-family: 'stanga';
  src: url('fonts/stanga/400/stanga-aaa-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'stanga';
  src: url('fonts/stanga/700/stanga-aaa-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'stanga', arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background: #9bb8c8;
}



h1 {
    font-family: 'stanga';
    font-weight: 700;
    font-size: 56px;
}

h2 {
    color:white;

}




h1:after {
    content: "";
    border-bottom: 3px solid #fff;
    width: 120px;
    display: block;
    margin: auto;
}



img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/socks.jpg");
    margin: auto;
    text-align: center;
    display: block;
padding: 40px 0;
    background-position: center 30%;
    background-size: cover;
    background-attachment:fixed;
    padding-top: 21px;
    position: relative;
    color: white;
}




}
.button:after {
    content: ">";
    padding-right: 5px;
}

.button:hover {
    background: #217caa;
    color: #fff;
}

.container {
    max-width: 980px;
    margin: auto;
   text-align: center; 
    margin: auto;
    font-size: 28px;
  
}
.container h2{
    color: white;
    font-size:54px;
    margin:12px;
}
.container h3{
    color: #000;
    font-size:32px;
    margin:12px;
}



a {
    color: #fff;
      margin: 5px;
}



.features {
    background: #d3ad40;
    text-align: center;
    padding: 20px;
   
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
}

.features img {
    max-width: 120px;
}

.features h2:after {
    margin: auto;
}

footer {
  background: #9bb8c8;
  color: #fff;
  text-align: center;
  padding: 10px;
}



footer a {
  color: #fff;
}
header {
  text-align: center;
}



nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;

    
}
nav a{
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    display: block;

}

nav a:hover{
    color: #d3ad40;
}



.headerr {
    position: fixed;
    width: 100%;
    color: #fff;
    background: rgba(255,255,255,0.2);
    display: flex;
    padding: 0 10px;
    height: 87px;
    align-items: center;
}

    

.current a{
        font-weight: bold;
    border-bottom: 3px solid #d3ad40;
    
    }


.about {
    position: relative;
    padding: 56px 0;
}
nav h2:after {
    content: "";
    border-bottom: 3px solid #fff;
    width: 120px;
    display: block;
    margin: auto;
}

.sale {
    list-style: none;
    padding: 0;
    display: flex;
}
.sale li{
    margin: 20px;
}
.food {
      list-style: none;
    padding: 0;
    display: flex;
    
}
.food li{
    margin: 10px;
}
.art {
      list-style: none;
    padding: 0;
    display: flex;
    
}
.art li{
    margin: 10px;
}
.animals {
      list-style: none;
    padding: 0;
    display: flex;
    
}
.animals li{
    margin: 10px;
}
.tv {
      list-style: none;
    padding: 0;
    display: flex;
    
}
.tv li{
    margin: 10px;
}
.special {
      list-style: none;
    padding: 0;
    display: flex;
    
}
.special li{
    margin: 10px;
}
form {
    width: 350px;
    margin: auto;
    text-align: center;
}
input, textarea {
    font: inherit;
    color: inherit;
    display: block;
    border: 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
textarea {
    height: 200px;
}
label {
    margin-bottom: 20px;
    display: block;
}
input:focus, textarea:focus {
    outline: 0;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
    
}
